{% extends "UKMDesign/Layout/ukmtvbase.html.twig"|UKMpath %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2>UKM TV</h2>
				<br>
			</div>
			<div class="col-12">
				<p class="lead">
					I UKM-TV finner du en rekke filmer av deltakere på UKM. 
					Vi har opptak helt tilbake fra 2009, først og fremst fra fylkes- og UKM-festivalen. 
					Kanskje finner du deg selv eller noen du kjenner?
				</p>
			</div>
			<div class="col-12 ukm-tv-hoved-search">
				<br>
				{% embed "Sok/Form.html.twig" %}{% endembed %}
			</div>
			<div class="col-12">
				<h3 class="nom">Siste filmene</h3>
			</div>
			<div class="row col-12 ukm-tv-siste-filmer">
				{% include "Filmer/Liste.html.twig" with {filmer: filmer} %}
			</div>
			<div class="col-12 col-md-4 ukmtv-footer-meny">
				<h3>Finn filmer fra</h3>
				<ol class="list-unstyled">
					<li class="my-2">
						<a href="{{ url('festival_ar') }}" class="btn btn-block btn-outline-primary">
							{{ UKMDesign.getSitemap().getPage('ukmtv', 'festival').getTitle() }}
						</a>
					</li>

					<li class="my-2">
						<a href="{{ UKMDesign.getSitemap().getPage('ukmtv', 'fylke').getUrl() }}" class="btn btn-block btn-outline-primary">
							{{ UKMDesign.getSitemap().getPage('ukmtv', 'fylke').getTitle() }}
						</a>
					</li>

					<li class="my-2">
						<a href="{{ UKMDesign.getSitemap().getPage('ukmtv', 'fylke').getUrl() }}" class="btn btn-block btn-outline-primary">
							{{ UKMDesign.getSitemap().getPage('ukmtv', 'lokal').getTitle() }}
						</a>
					</li>

					<li class="my-2">
						<a href="{{ UKMDesign.getSitemap().getPage('ukmtv', 'info').getUrl() }}" class="btn btn-block btn-outline-primary">
							{{ UKMDesign.getSitemap().getPage('ukmtv', 'info').getTitle() }}
						</a>
					</li>
				</ol>
			</div>
		</div>
	</div>
	
	<style>
		.ukm-tv-hoved-search {
			margin-bottom: 50px;
		}
		.ukm-tv-siste-filmer {
			width: 100% !important;
		}
		.ukmtv-footer-meny {
			margin: auto;
			margin-top: 50px;
		}
	</style>
{% endblock %}
